[Unit]
Description=Initialize ADPi on %i
DefaultDependencies=no
BindsTo=dev-%i.device dev-i2c\x2d1.device
After=dev-%i.device dev-i2c\x2d1.device

[Service]
Type=oneshot
ExecStart=/usr/lib/adpi-utils-backend-spidev/adpi-init.sh %i
RemainAfterExit=yes
