Source: adpi-utils-backend-spidev
Section: misc
Priority: optional
Maintainer: Yuta Kiyonaga <Kiyonaga@mechatrax.com>
Uploaders: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: https://mechatrax.com/
Vcs-Git: https://github.com/mechatrax/adpi-utils-backend-spidev.git
Vcs-browser: https://github.com/mechatrax/adpi-utils-backend-spidev

Package: adpi-utils-backend-spidev
Architecture: all
Depends: ${misc:Depends}, python3, python3-adpi
Provides: adpi-utils-backend
Conflicts: adpi-utils-backend, adpi-firmware
Replaces: adpi-utils-backend
Description: Backend of adpi-utils to control ADPi with SPI
 This package contains backend files of adpi-utils to control ADPi with SPI.
